* {
    box-sizing: border-box;
    margin: 0;
}

body {
    text-align: center;
}

svg {
    width: 90vw;
    margin: 10px;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 70vw;
    letter-spacing: .05em;
}

#submit {
    display: block;
    margin: auto;
}

.hide {
    display: none;
}