* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --green: #296560;
  --orange: #c44900;
  --cream: #efd6ac;
  --maroon: #432534;
  --navy: #04151f;
}

body {
  text-align: center;
  background: var(--navy);
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Asap Condensed", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#difficult-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--cream);
  width: 80vw;
  height: 140vw;
  border-radius: 3vw;
}

#gameplay {
  width: 90vw;
}

.difficulty {
  /*margin: 5vw;*/
  width: 70vw;
  height: 40vw;
  border: none;
  display: block;
  font-family: "Asap Condensed", sans-serif;
  font-size: 10vw;
  color: var(--cream);
  border-radius: 3vw;
}

#tiles-container {
  background-color: transparent;
  height: 40vw;
  width: 100%;
  font-family: "Asap Condensed", sans-serif;
  color: var(--cream);
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
}

#scramble-container,
#answer-container {
  width: 100%;
}

#scramble-tiles,
#answer-tiles,
#placeholders {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

h1 {
  font-family: "Neonderthaw", cursive;
  font-size: 8vh;
  font-weight: normal;
  color: var(--orange);
}

.letter {
  background: var(--green);
  border-radius: 2vw;
  width: 10vw;
  height: 10vw;
  font-size: 4vh;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile {
  background: var(--maroon);
  border-radius: 2vw;
  width: 10vw;
  height: 10vw;
}

#submit {
  display: block;
  margin: auto;
  font-family: "Asap Condensed", sans-serif;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  font-size: 5vw;
  padding: 1vw 3vw;
}

#play-again {
  font-family: "Asap Condensed", sans-serif;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  font-size: 5vw;
  padding: 1vw 3vw;
}

#easy {
  background-color: var(--green);
}

#medium {
  background-color: var(--orange);
}

#hard {
  background-color: var(--maroon);
}

#feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8vw 0 5vw 0;
}

#board {
  background: var(--cream);
  border-radius: 3vw;
  color: var(--navy);
  width: 80vw;
  height: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  flex-wrap: wrap;
}

#board p {
  width: 100%;
  font-size: 6vw;
}

#guess-counter {
  color: var(--orange);
  display: inline;
  font-size: 6vw;
  margin: 0 1.5vw 0 1.5vw;
}

label {
  font-family: "Asap Condensed", sans-serif;
  font-size: 5vw;
  color: var(--cream);
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid var(--cream);
  background-color: var(--navy);
  color: var(--cream);
  outline: none;
  margin: 0 0 3vw 0;
}

.hide {
  display: none;
}

.fail {
  filter: blur(3px) grayscale(100%);
  opacity: 0.6;
}

#difficult-select.hide {
  display: none;
}

#answer-tiles.hide {
  visibility: hidden;
}

@media only screen and (orientation: landscape) {
}
